body {
  background-color: #1c1c1f;
  font-family: "poppins";
  margin: 0;
}
main {
  width: 100%;
  margin: 100px auto 0 auto;
}
.navbar {
  display: flex;
  justify-content: space-between;
  font-size: 32px;
}
.navbar a {
  color: #bf7700;
  font-weight: bold;
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.card-container {
  background-color: #e4b668;
  width: 100%;
  display: flex;
  justify-content: center;
}

.card {
  width: 350px;
  height: 450px;
  border: 1px solid #be7700;
  box-sizing: border-box;
  border-radius: 15px;
  background-color: #0a100b;
  padding: 15px;
  display: column;
  box-sizing: border-box;
  margin: 15px;
}

.card .card-img {
  max-width: 100%;
  display: block;
}
.card-body {
  display: flex;
}
h1 {
  color: rgb(157, 206, 250);
  font-size: 24px;
}
